// customizations
$background-color: #0a192f;
$text-slate: #a8b2d1;

$theme-colors: (
    "primary":    #0A192F,
    "secondary":  #a8b2d1,
    "success":    #6EC6B7,
    "info":       #2F446F,
);

$body-color: #a8b2d1;  //this is the text color
$body-bg: #0A192F; //this is the background color
$gray-900: purple;

:export {
    text-slate: $text-slate;
    background-color: $background-color;
}
// import bootstrap stylesheet
@import "~bootstrap/scss/bootstrap";